$priary-color:#C69D23;
$priary-ligth:#f8f8ef;
$priary-darck:#9a7b1e;
$secondary-color:#333333;
$text-color:#333333;
$error-color:#F44336;
$success-color:#4CAF50;
$warning-color:#FFC107;
$shadow-color:rgba(0, 0, 0, 0.1);
$border-color:#e0e0e0;
$accent-color:#76CBFD;
$width-icon-nav: 60px;
$height-icon-nav:60px;